body{
    margin: 0;
}
.header {
    /*border: 2px solid red;*/
    height: 100px;
    background-color: #1f2937;
    display: flex;
}

#header-logo {
    /*border: 2px solid blue;*/
    color: white;
    display: flex;
    padding-left: 50px;
    padding-top: 8px; 
    justify-content: center;
    align-items: center; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-links {
    /*background-color: lightskyblue;*/
    margin-left: auto;
    display: flex;
    padding: 40px;
    align-items: center;
}

#header-link {
    /*border-style: solid;*/
    border-color: blue;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero {
    /*border: 2px solid red;*/
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 65px 90px 90px 90px;
    gap: 60px;  
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 50px;
}

.hero-text h1{
    /*border: 2px solid rebeccapurple;*/
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-align: left;
    max-width: 400px;
    margin-bottom: 0;
    flex-basis: 100px;
}

.hero-text p{
    /*border: 2px solid rebeccapurple;*/
    color: white;
    max-width: 400px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.hero-text button{
    color: white;
    background-color: #3882f6;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    max-width: 100px;
}

.hero-text button:hover{
    box-shadow: 0 3px 5px 0 rgba(44, 44, 44, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #1e57b4;
}

.hero-image img{
    display: flex;
    align-items: center;
    height: 275px;
    border-radius: 10px;
}

#info-title {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2pt solid rebeccapurple;*/
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1f2937;
}

.random-info {
    /*border: 2px solid rebeccapurple;*/
    padding: 40px 90px 75px 90px;
}

.box-icons {
    /*border: 2px solid rebeccapurple;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#icon-box {
    border: 5px solid #3882f6;
    border-radius: 20px;
    height: 125px;
    width: 125px;
}

#icon-text {
    text-align: center;
    /*border: 2px solid rebeccapurple;*/
    max-width: 140px;
}

.box-text  {
    /*border: 2px solid rebeccapurple;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-section {
    background-color: #e5e7eb;
    height: auto;
    padding: 90px 90px 90px 90px;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 25px;
}

#quote {
    /*border: 2px solid rebeccapurple;*/
    margin: 0;
    color: #1f2937;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 25px;
    line-height: 1.6;
    padding-left: 15px;
    max-width: 675px;
}

#signature {
    /*border: 2px solid rebeccapurple;*/
    margin: 0;
    padding-left: 450px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.call-to-action {
    background-color: white;
    height: auto;
    padding: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-section {
    /*border: 2px solid rebeccapurple;*/
    border-radius: 5px;
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex: 2;
    max-width: 800px;
}

#button-area {
    /*border: 2px solid rebeccapurple;*/
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: auto;
    padding-left: 150px;
    padding-right: 100px;
}

#action-text {
    /*border: 2px solid rebeccapurple;*/
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#action-button {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

#bold-text {
    /*border: 2px solid rebeccapurple;*/
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 0;
    margin-right: 29px;
}

#thin-text {
    /*border: 2px solid rebeccapurple;*/
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-left: 75px;
}

.footer {
    display: flex;
    height: 70px;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
}

#footer-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
}